#game div {
  border: 1px solid white;
  width: 100%;
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
}

#stats{
  text-align: center;
  font-size: 150%;
  margin: 5px;
}

.card {
  text-align: center;
  height: 130px;
  width: auto;
  background-color: darkslategray;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.card.up {
  border-color: aquamarine;
  border-style: dotted;
  border-width: 2px;
}

.card.done {
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.card.red.up { background-color: darkred; }
.card.blu.up { background-color: darkblue; }
.card.pur.up { background-color: darkmagenta; }
.card.ora.up { background-color: darkgoldenrod; }
.card.gre.up { background-color: darkolivegreen; }

table {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-spacing: 0.7em;
}

td {
  border-radius: 10px;
}

#summary {
  text-align: center;
}

#restart{
	padding:5px;
	font-size:1em;
	background:#000;
	color:#ccc;
	font-weight:bold;
  display: inline-flex;
  position: relative;
  left: 10%;
  visibility: hidden;
}