.meme {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.top-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
  font-size: 300%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}

.bottom-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
  font-size: 300%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}
