body {
  max-width: 40em;
  margin: 2% auto;
  padding: 15px;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  color: #ddd;
  background: black;
}

h1, h2, h3, nav {
  font-family: sans-serif;
  font-weight: normal;
}

nav a:link {
  text-decoration: none;
  color: #ddd;
}

nav a:visited{
  text-decoration: none;
  color: #ddd;
}

nav ul {
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 1%;
}

#profile-pic {
  float: right;
  width: 30%;
  height: auto;
  border-radius: 25%;
  margin: 15px 0px 15px 15px;
}

.blog-image {
  width: 95%;
  height: auto;
  padding: 20px;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 90%;
}

a:visited {
  color:thistle;
}

a:link {
  color:plum;
}

date {
  font-style: italic;
  font-size: 90%;
}

#site-name {
  font-size: 150%;
  font-weight: bold;
  float: left;
  padding-inline-start: 0px;
}

#you-might-live {
  display: flex;
  justify-content: center;
}